{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>Changer mon mot de passe</h1>
                    </header>
                    <form method="post" action="#">
                        <p>
                            <label for="password">Mot de passe actuel</label>
                            <input type="text" title="password" id="password">
                        </p>
                        <p>
                            <label for="newpassword">Nouveau mot de passe</label>
                            <input type="text" id="newpassword" title="newpassword">
                        </p>
                        <p>
                            <label for="confirmpassword">Confirmation du mot de passe</label>
                            <input type="text" id="confirmpassword" title="confirmpassword">
                        </p>
                        <button>Valider</button>
                    </form>
                </div>
            </section>
        </div>
    {% endblock %}
