{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>Changer mon mot de passe</h1>
                    </header>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit">Valider</button>
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    {% endblock %}
