{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>Form</h1>
                        {{ form_start(userForm) }}
                            {{ form_widget(userForm) }}
                        <button type="submit">Save</button>
                        {{ form_end(userForm) }}
                    </header>
                </div>
            </section>
        </div>
    {% endblock %}
