{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Banner -->
        <!-- Note: The "styleN" class below should match that of the header element. -->
        <section id="banner" class="style2">
            <div class="inner">
                                <span class="image">
                                    <img src="images/pic07.jpg" alt="" />
                                </span>
                <header class="major">
                    <h1>L'équipe</h1>
                </header>
                <div class="content">
                    <p>BDE Furies depuis décembre 2017</p>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">
            <!-- Two -->
            <section id="two" class="spotlights">
                <section>
                    <a href="generic.html" class="image">
                        <img src="images/pic08.jpg" alt="" data-position="center center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Prénom - Poste</h3>
                            </header>
                            <p>Présentation</p>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="generic.html" class="image">
                        <img src="images/pic09.jpg" alt="" data-position="top center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Prénom - Poste</h3>
                            </header>
                            <p>Présentation</p>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="generic.html" class="image">
                        <img src="images/pic10.jpg" alt="" data-position="25% 25%" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Prénom - Poste</h3>
                            </header>
                            <p>Présentation</p>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    {% endblock %}