{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>Mot de passe oublié</h1>
                    </header>
                    <form method="post" action="#">
                        <p>
                            <label for="mail">Email</label>
                            <input type="text" title="mail" id="mail">
                        </p>
                        <button>Valider</button>
                    </form>
                </div>
            </section>
        </div>
    {% endblock %}
