{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>Mot de passe oublié</h1>
                    </header>
                    {% if invalid_email is defined %}
                        mytho, ton email existe pas
                    {% endif %}
                    {{ form_start(form) }}
                        <p>
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </p>
                        <button type="submit">Valider</button>
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    {% endblock %}
