{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>BDE FURIES</h1>
                </header>
                <div class="content">
                    <p>Retrouvez toutes les infos concernant les évènements du BDE FURIES.</p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">C'est parti !</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">
            <!-- One -->
            <section id="one" class="tiles">
                <article>
                    <span class="image">
                        <img src="{{ asset('asset/images/pic01.jpg') }}" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Nom de l'event</a></h3>
                        <p>Date / Lieu</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="images/pic02.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Nom de l'event</a></h3>
                        <p>Date / Lieu</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="images/pic03.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Nom de l'event</a></h3>
                        <p>Date / Lieu</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="images/pic04.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Nom de l'event</a></h3>
                        <p>Date / Lieu</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="images/pic05.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Nom de l'event</a></h3>
                        <p>Date / Lieu</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="images/pic06.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Nom de l'event</a></h3>
                        <p>Date / Lieu</p>
                    </header>
                </article>
            </section>
            <!-- Two -->
            <section id="two">
                <div class="inner">
                    <header class="major">
                        <h2>L'équipe</h2>
                    </header>
                    <p>Le BDE FURIES est composée de 5 étudiants de l'IESA Multimédia.</p>
                    <ul class="actions">
                        <li><a href="{{ path('equipe') }}" class="button next">Découvrez les !</a></li>
                    </ul>
                </div>
            </section>
        </div>
    {% endblock  %}

