{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>Prochains Events</h1>
                    </header>
                    {% for event in fetch %}
                        {{ event.nom }}
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endblock %}
