{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>Prochains Events</h1>
                    </header>
                        {% set e = [] %}
                        {% for t in latestWeekends %}
                            {% set e = e|merge([t]) %}
                        {% endfor %}
                        {% for t in latestParties %}
                            {% set e = e|merge([t]) %}
                        {% endfor %}
                    {% for t in latestExhibits %}
                        {% set e = e|merge([t]) %}
                    {% endfor %}
                    {% for event in e|sortbyfield('date') %}

                    <p>{{ event.nom }} &mdash; Date : {{ event.date|date('Y-m-d') }}</p>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endblock %}
