{% extends 'base.html.twig' %}

    {% block content %}
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="bannerContainer">
                </div>
                <div class="inner">
                    {{ weatherWolphormAlpha }}
                </div>
            </section>
        </div>
    {% endblock %}
