parameters:
    media_uri_prefix: /media

vich_uploader:
    db_driver: orm

    mappings:
        images:
            uri_prefix: '%media_uri_prefix%'
            upload_destination: '%kernel.project_dir%/public/media'
            inject_on_load: true
            namer: vich_uploader.namer_uniqid
